.container{
    background-color: white;
    height: 3.7rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    position: relative;
    z-index: 9;
    .logo{
        width: 6rem;
    }
    .citySelection{
        border: 1px solid var(--border-color);
        border-radius: .9rem;
    }
}