@tailwind base;
@tailwind components;
@tailwind utilities;

.theme_defult {
    --rgb-primary-color: 105, 196, 191;
    --primary-color: rgb(var(--rgb-primary-color), 1);
    --white-color:#ffff;
}

body {}

/*bg color*/
.bg-white {
    background-color: var(--white-color);
}
.bg-primary{
    background-color: var(--primary-color);
}
/*font color*/
.color-primary{
    color: var(--primary-color);
}
.color-white{
    color: var(--white-color);
}